/*Hi feel free to change in any way!*/


body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.home-title-box{
    border:1px solid black;
}

.home-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home-body{
    border:1px solid black;
}

.emily-box{
    border:1px solid grey;
}
.emily-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flee-box{
    border:1px solid grey;
}
.flee-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.argument-box{
    border:1px solid grey;
}
.argument-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


