
body
{
    font-family: 'Share Tech Mono', monospace;
    color: rgb(116, 255, 47);
    background-color: rgb(0, 0, 0);
    
}


.home-title-box{
    border:1px solid rgb(116, 255, 47);;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}


.title{
    
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.flee-box{
    border:1px solid grey;
}

.myButton
{
    color: black;
}

a:visited, a:link
{
    color: rgb(116, 255, 47);
}

a:hover
{
    color: rgb(242, 255, 0);
}

.myBold
{
    font-size: 20px;
    font-weight: 1000;
}